// app/assets/stylesheets/vuetify/custom.scss

$body-font-family: 'Comfortaa', 'Yomogi', cursive !important;

// Vuetifyが提供しているTypography系のoptions一覧
$vuetifyTypographyOptions: text-h1, text-h2, text-h3, text-h4, text-h5, text-h6, text-headline,
  text-title, text-subtitle-1, text-subtitle-2, text-body-1, text-body-2, text-button, text-caption,
  text-overline;

// テキスト関係のHTMLタグ一覧
$htmlTags: div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, address, code, small, strike, strong,
  center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
  tr, th, td, article;

#app {
  font-family: $body-font-family;

  // Vuetifyのtypography option使用箇所にすべて指定のfont-familyを上書きする
  @each $vuetifyTypographyOption in $vuetifyTypographyOptions {
    .#{$vuetifyTypographyOption} {
      font-family: $body-font-family;
    }
  }

  // HTMLタグ使用箇所にすべて指定のfont-familyを上書きする
  @each $htmlTag in $htmlTags {
    #{$htmlTag} {
      font-family: $body-font-family;
    }
  }
}